
body {
  font-family: sans-serif;
}

/*@group liveframe*/

#liveframe-main {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow:hidden;
}

div.liveframe-relative {
  position:relative!important;
  top:0!important;
  left:0!important;
}

/*@group sidebar*/

.header {
  height:22px !important;
  padding:2px 0 0;
  border:none;
  position:relative;
  text-align:center;
}

#sidebar .contents, #object-events .contents {
  padding:5px;
  background-color:#333;
  color:#aaa;
}

#object-events .contents {
  bottom:0;
  height:auto;
  left:0;
  position:absolute;
  right:0;
  top:0;
}

#object-parent {
  width:100%;
}

#sidebar .handle, #object-events .handle {
  background-image:url(../images/sidebar-arrow-small-2.png);
  background-position:5px 50%;
  background-repeat:no-repeat;
  padding:5px 10px 5px 20px;
  cursor:pointer;
}

#sidebar .handle.selected, #object-events .handle.selected {
  background-color:#555;
  color:white;
}

#sidebar .contents .ui-state-highlight {
  height:27px;
}

/*@group genarals*/

.name {
  height: 26px;
}

.name input {
  border:1px solid #777777;
  font-size:13px;
  left:0;
  padding:4px;
  position:absolute;
  top:0;
  width:130px;
}

/*@group image */

.add-remove-header {
  border:none;
}

.add-remove-header div {
  width:20px;
  height:20px;
  float:left;
  padding:5px;
  cursor:pointer;
}

.add-remove-header div:hover {
  background-position: 0 100%;
}

.add-remove-header div.add {
  background-image:url(../images/big-plus.png);
}

.add-remove-header div.remove {
  background-image:url(../images/big-minus.png);
}

/*@group map*/

#map-toolbar {
  border:none;
}

/*@group ajax */

#back {
  display:none;
}

#back .ui-widget-shadow {
  width: 302px;
  height: 152px;
  margin-left: -151px;
  margin-top: -76px;
  position: absolute;
  left: 50%;
  top: 50%;
}

#loading {
  display:none;
  padding: 10px;
  position: absolute;
  width: 280px;
  height: 130px;
  margin-left: -140px;
  margin-top: -65px;
  left: 50%;
  top: 50%;
}

#loading-small {
  -moz-border-radius:5px;
  background-image:url(../images/loading2.gif);
  border:2px solid #777777;
  height:16px;
  position:absolute;
  display:none;
  right:5px;
  top:4px;
  width:16px;
}

/*@group Map Edit*/

#map-canvas {
  overflow:auto;
}

#map-canvas .content {
  background-image: url(../images/alpha.png);
  overflow:hidden;
}

#map-canvas .content img {
  position:absolute;
}

#map-hover {
  position:absolute;
  display:none;
}

#map-objects {
  background-color:#CCCCCC;
  bottom:10px;
  left:10px;
  overflow-x:auto;
  overflow-y:auto;
  padding:5px;
  position:absolute;
  right:10px;
  top:200px;
}

#map-objects .object {
  width:24px;
  height:24px;
  float:left;
  overflow:hidden;
  margin:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  color:transparent;
  cursor:pointer;
}

#map-objects .object.selected {
  border:3px solid yellow;
  margin:2px;
}

#edit-image-speed {
  width:136px;
}

#media-library .images .image, #edit-image-list .image, #image-picker .images .image  {
  color:black;
  text-shadow: 0px 0px 10px white, 0 0 10px white, 0 0 10px white;
  padding:10px;
  width:80px;
  height:80px;
}

#media-library .images .image.selected, #edit-image-list .image.selected, #image-picker .images .image.selected {
  border: 2px solid yellow;
  margin: 8px;
}

label {
  padding:6px;
  font-size:.7em;
}

