
.dialog-back {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:black;
  opacity:.7;
  z-index:10;
  display:none;
}

.mydialog {
  display:none;
  position:fixed;
  z-index:11;
  width: 600px;
  height: 400px;
  left:50%;
  top:50%;
  margin-left:-300px;
  margin-top:-200px;
  background-color:white;
  border:2px solid black;
  -moz-border-radius:15px;
}

.mydialog .title {
  font-size:1.1em;
  text-align:center;
}

.mydialog .closebutton {
  width:20px;
  height:20px;
  background-image:url(../images/gtk-cancel.png);
  position:absolute;
  top:0;
  right:0;
}

.mydialog .images {
  height: 350px;
  overflow: auto;
}

.mydialog .images div.wrapper {
  float:left;
  text-align:center;
}

.mydialog .images div.image {
  width:100px;
  height:100px;
  background-color:#ccc;
  -moz-border-radius:10px;
  border:2px solid #ccc;
  margin:5px;
}

.mydialog .images div.wrapper.selected div.image {
  border-color: orange;
}

.mydialog .images div.image img {
  width:100px;
  height:100px;
}

.mydialog .uploader {
  clear:both;
}

#media-library .importbuttons {
  display:none;
}

