
#plugin-tabs {
  margin:0;
  padding:0 5px;
}

#plugin-tabs div.tab {
  float:left;
  margin:0;
  padding:0 5px;
  cursor:pointer;
}

#plugin-tabs div.tab:hover {
  background-color:lightblue;
}

#plugin-tabs div.tab.selected {
  background-color:lightblue;
  font-weight:bold;
}

#object-actions .plugin-image, #plugins .plugin-image {
  width:64px;
  height:64px;
  -moz-border-radius: 10px;
  background-color: grey;
  cursor:pointer;
  margin: 5px;
  float: left;
  list-style:none;
  border: 2px solid black;
  -moz-user-select:none;
}

#object-actions .plugin-image {
  background-repeat:no-repeat;
  height:54px;
  padding-left:70px;
  padding-top:10px;
  width:auto;
  -moz-user-select:none;
}

#plugins .plugin-image.conditional {
  border-color:blue;
}

.floater {
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  background-color:black;
  opacity:.7;
}

#plugin-form {
  width:400px;
  height:200px;
  margin-top:-100px;
  margin-left:-200px;
}

/**** form dialog ****/

.action-dialog {
  width:240px;
  border-radius:20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border:10px solid #555;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-120px;
  margin-top:-100px;
  max-height:100%;
  text-align: left;
  overflow:auto;
  background-color:black;
  color:white;
  display:none;
}

.action-dialog .title {
  text-align:center;
  padding:4px 0;
}

.action-dialog .contents {
  padding:10px;
}

.action-dialog .contents div.input {
  background-color:#222;
  padding:5px;
}

.action-dialog .buttons {
  padding:0 10px;
  text-align:center;
}

.action-dialog .buttons div {
  float:left;
  padding:4px 10px;
  background-color:#444;
  border:2px solid #333;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  margin:0 5px 5px 5px;
  cursor:pointer;
}

.action-dialog .buttons div:hover {
  background-color:#666;
  border-color:#999;
}

/** multivalueable **/

.action-dialog div.input {
  position:relative;
}

.action-dialog div.input .expand-button {
  background-image:url(../jui/css/custom-theme/images/ui-icons_222222_256x240.png);
  position:absolute;
  bottom:0;
  right:0;
  background-color:#777;
  z-index:120;
  background-position:-66px -1px;
  bottom:0;
  height:13px;
  position:absolute;
  right:0;
  width:13px;
}

/** type specific **/

div.input-type.type-bool {
  cursor:pointer;
}

div.input-type.type-number {
  min-height:20px;
}
div.input-type.type-timer {
  min-height:20px;
}
div.input-type.type-percent {
  min-height:20px;
}

div.input-type .number-left {
  position:absolute;
  top:0;
  left:0;
  height:20px;
  width:40px;
  text-align:center;
}

div.input-type .number-np {
  position:absolute;
  top:0;
  left:40px;
  height:20px;
}

div.input-type .number-slider {
  position:absolute;
  top:0;
  left:65px;
  right:0;
  height:20px;
}

div.input-type .number-slider a {
  background-color:transparent;
  background-image:url(../images/slider-handle.gif);
  border:medium none;
  height:21px;
  margin-left:-8px;
  top:1px;
  width:17px;
}

.action.control.and .sub-a, .action.control.or .sub-a {
  top:15px;
}
.action.control.and .sub-b, .action.control.or .sub-b {
  left:65px;
}

.input-type.type-random input.number {
  width:30px;
}

/** vector widget **/

.direction-widget {
  width:200px;
  height: 115px;
  position:relative;
}

.direction-widget .cardinal {
  width:92px;
  height:92px;
  position:relative;
}

.direction-widget .cardinal div {
  width:22px;
  height:22px;
  background-repeat:no-repeat;
  background-position:50% 50%;
  position:absolute;
  border:1px solid #ccc;
  padding:2px;
  cursor:pointer;
}

.direction-widget .cardinal div.selected {
  background-color:#555;
  z-index:1;
}

.direction-widget .cardinal .tl {background-image:url(../images/tl.png);top:5px;left:5px;}
.direction-widget .cardinal .t {background-image:url(../images/t.png);top:5px;left:32px;}
.direction-widget .cardinal .tr {background-image:url(../images/tr.png);top:5px;left:59px;}
.direction-widget .cardinal .r {background-image:url(../images/r.png);top:32px;left:59px;}
.direction-widget .cardinal .br {background-image:url(../images/br.png);top:59px;left:59px;}
.direction-widget .cardinal .b {background-image:url(../images/b.png);top:59px;left:32px;}
.direction-widget .cardinal .bl {background-image:url(../images/bl.png);top:59px;left:5px;}
.direction-widget .cardinal .l {background-image:url(../images/l.png);top:32px;left:5px;}


.direction-widget .circle {
  height:90px;
  left:92px;
  position:absolute;
  top:0;
  width:90px;
  background-image:url(../images/circle.png);
  background-repeat:no-repeat;
  background-position:2px 2px;
  cursor:pointer;
}

.direction-widget .circle .handle {
  background-image:url(../images/handle.png);
  width:9px;
  height:9px;
  position:absolute;
}

.direction-widget input {
  width:30px;
}

.direction-widget .inputs {
  font-size:.5em;
}

.direction-widget .number {
  padding:35px 0;
  text-align:center;
  font-weight:bold;
  color:black;
}

.multivalueable {
  position:absolute;
  z-index:100;
  padding:10px;
  border:1px solid black;
  background-color:white;
}

.ui-tabs-hide {
  display:none;
}

.ui-slider {
  background-color:black!important;
}

a.ui-slider.handle {
  background-color:#888!important;
}

