/** @group SaveLoad **/

/*@group Save Dialog*/

/** @group Dialog **/

.project.ui-dialog {
  height:300px!important;
}

.project.ui-dialog .ui-dialog-title {
  position:relative;
  left:35px;
}

.project.ui-dialog .ui-dialog-titlebar-close {
  left: 0.3em;
  right: auto;
}

.project.ui-dialog.minimized {
  height:26px!important;
  width:60px!important;
}

.project.ui-dialog.minimized #project-dialog {
  display:none;
}

.project.ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

.ui-resizable-handle {
  z-index:999;
}

#project-dialog {
  bottom:0;
  left:0;
  position:absolute;
  height:auto!important;
  right:0;
  top:35px;
}

#project-dialog ul.tabs {
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
}

#project-dialog ul.tabs a {
  font-size:70%;
  line-height:1;
}

#project-dialog > div {
  position:absolute;
  top:75px;
  bottom:0;
  left:1em;
  right:1em;
  padding:1em;
}

#project-dialog fieldset {
  padding: 0;
  border:0;
  height:100%;
  position:relative;
  font-size:.7em;
}

#project-dialog * {
  position:static;
  top:auto;
  left:auto;
  bottom:auto;
  right:auto;
  width:auto;
  height:auto;
  background-color:transparent;
}

#project-dialog .loading-indicator {
  display:none;
}

#project-dialog fieldset input.name {
  padding:2px;
}

#project-dialog fieldset ul {
  position:absolute;
  top:45px;
  left:0;
  right:0;
  border:1px solid #aaa;
  padding:5px;
  bottom:30px;
  margin:0;
  overflow:auto;
}

#project-dialog fieldset li {
  list-style:none;
  padding:5px 10px;
  cursor:pointer;
}

#project-dialog fieldset li:hover {
  background-color:#555;
}

#project-dialog fieldset li.selected {
  background-color:#777;
}

#project-dialog div.buttons {
  position:absolute;
  bottom:0;
}

#project-dialog div.buttons button {
  background-color:white;
  border:1px solid #777;
  font-size:15px;
  cursor:pointer;
}

