
.small-screen #plugin-tabs {
    left:600px;
}

.small-screen #plugins {
    left:600px;
    top:30px;
}

.small-screen #sidebar {
    width:150px;
    left:10px;
}

.small-screen #tabcontent {
    left:160px;
}

.small-screen #map-toolbar {
    left:170px;
}

.small-screen #edit-image-preview {
    width:100px;
    height:100px;
}

.small-screen .info-sidebar {
    width:120px;
}

.small-screen .name input {
    width:90px;
}

.small-screen .name {
    width:90px;
    top:120px;
}

.small-screen #object-image {
    width:100px;
    height:100px;
}
.small-screen #object-event-toolbar {
  width:150px;
}
.small-screen #object-properties {
    top:160px;
    width:100px;
    height:80px;
}
.small-screen #object-events {
  width:150px;
  font-size:.8em;
}
.small-screen #object-actions {
  left: 290px;
  width:300px;
}

.small-screen #minimap {
    width:100px;
    height:100px;
}

.small-screen #map-canvas, .small-screen #map-toolbar {
    left:130px;
}

.small-screen #object-events, .small-screen #object-event-toolbar, .small-screen #image-toolbar, .small-screen #edit-image-list {
    left:130px;
}

.small-screen #object-custom-attrs {
    top:270px;
    width:100px;
    font-size:.8em;
}

.small-screen #object-custom-toolbar {
    top:240px;
    width:100px;
}
