

/*@group Made*/

#contextmenu, #hovertext {
  outline:1px solid #aaa;
  position:absolute;
  display:none;
  padding:5px;
  background-color:white!important;
  z-index:200;
}

#contextmenu div {
  padding:2px 5px;
  cursor:pointer;
}

#contextmenu div.selected {
  background-color:#000033!important;
  color:white;
}

#contextmenu div:hover {
  background-color:#5577FF;
}

/**** event picker ****/

#event-picker {
  position:absolute;
  left:50%;
  top:50px;
  max-height:600px;
  width: 200px;
  margin-left: -120px;
  text-align: center;
  overflow:auto;
  background-color:black;
  color:white;
  padding:20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  display:none;
}

#event-picker .delete {
  position:absolute;
  top:5px;
  right:5px;
  width:24px;
  height:24px;
  cursor:pointer;
  background-image:url(../images/cancel.png);
}

#event-picker .event-type {
  border: 1px solid #555;
  margin: 3px;
  list-style:none;
  cursor:pointer;
}
#event-picker .event-type:hover {
  background-color: #777;
}

#event-picker .event-type.subs {
  background-image:url(../images/arrow2.png);
  background-position:3px 50%;
  background-repeat:no-repeat;
}

iframe {
  position:absolute;
  left:50%;
  top:50%;
}

