{% extends "base.html" %}

{% load blog %}

{% block content %}

<div class='announcement'>
    Welcome to GameCC! The project is currently in the pre-alpha stage, so
    there's not much for you to play around with, but feel free to check out
    <a href="http://guthub.com/jabapyth/GameCC">the source code</a>.
</div>

<div class="level"><strong>Recent Posts:</strong></div>

{% for obj in posts %}
    <div class="post">
        <a href="{{ obj.get_absolute_url }}"><h1>{{ obj.title }}</h1></a>
        <p>
            {{ obj.tease|markup:obj.format }}
        </p>
        <p class="comments align-right">
            {{ obj.created|date:"M d, Y" }}
            <a href="{{ obj.get_absolute_url }}">[read more]</a>
        </p>
    </div>
{% endfor %}

{% endblock %}
