<a href="/browse/popular/"><h1>Popular games</h1></a>
<p><strong>I'll probably have</strong> one or two projects listed here, just a
few that look cool and are well made -- or promising, if not completed</p>
<a href="/browse/latest/"><h1>Latest games</h1></a>
<p><strong>So this will be</strong> where new projects are posted, so others
can see what's new and projects can gain some exposure. I might also have a
listing for "what's hot" or "highest rated", although that will probably go on
the "Browse Projects" page.</p>

<!--

<h1>Sidebar Menu</h1>
<ul class="sidemenu">
    <li><a href="http://www.free-css.com/">Home</a></li>
    <li><a href="#TemplateInfo">Template Info</a></li>
    <li><a href="#SampleTags">Sample Tags</a></li>
    <li><a href="http://www.free-css.com/">More Free Templates</a></li>
    <li><a href="http://www.free-css.com/">Premium Templates</a></li>
</ul>
<h1>Site Partners</h1>
<ul class="sidemenu">
    <li><a href="http://www.free-css.com/">Dreamhost</a></li>
    <li><a href="http://www.free-css.com/">4templates</a></li>
    <li><a href="http://www.free-css.com/">TemplateMonster</a></li>
    <li><a href="http://www.free-css.com/">Fotolia.com</a></li>
    <li><a href="http://www.free-css.com/">Text Link Ads</a></li>
</ul>
<h1>Search</h1>
<form method="post" id="search" action="http://www.free-css.com/">
    <p>
    <input name="search_query" class="textbox" type="text" />
    <input name="search" class="searchbutton" value="Search" type="submit" />
    </p>
</form>
<h1>Wise Words</h1>
<p>&quot;Criticism is something you can avoid easily by saying nothing, doing nothing, and being nothing&quot;</p>
<p class="align-right">- Aristotle</p>
<h1>Support Styleshout</h1>
<p>If you are interested in supporting my work and would like to contribute, you are welcome to make a small donation through the donate link on my website - it will be a great help and will surely be appreciated.</p>

-->
